/*!*
 * RES FIXES
 */
.sitetable .even {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .odd {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.RES-keyNav-activeElement, .commentarea .RES-keyNav-activeElement .md, .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background-color: #000!important;
    outline: #888 dashed 0!important
}
.sitetable .expando-button.image {
    background-color: #000!important;
    background-image: url(%expando%)!important
}
.eb-sch, .eb-se, .eb-seh, .eb-vch, .eb-ve, .eb-veh, .expando-button.selftext.collapsed, .expando-button.selftext.collapsed:hover, .expando-button.selftext.expanded, .expando-button.selftext.expanded:hover, .expando-button.video.collapsed, .expando-button.video.collapsed:hover, .expando-button.video.expanded, .expando-button.video.expanded:hover {
    background-image: url(%expando2%)
}
fieldset.liveComment, fieldset.liveComment legend {
    background-color: #000!important;
    border: 1px solid #00FE00!important
}
.sitetable .c2kzzkb {
    background-color: #000
}
.sitetable .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #00F3F9!important;
    background-color: #000!important
}
.sitetable .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border: 1px solid #E120F0!important;
    background-color: #000!important
}
.raisedbox {
    border: 0 solid gray;
    background: none
}
#sr-more-link, .modactions td {
    background-color: #000
}
.modactions td {
    color: #FF007F
}
.modactionlisting table {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #FF016D
}
.RESDialogSmall .livePreview, .livePreview {
    border: 1px solid #FF016D!important
}
#sr-header-area {
    border-bottom: 1px solid #000
}
.sr-bar a {
    color: grey
}
#sr-more-link, .dropdown.srdrop .selected {
    color: #d3d3d3
}
.RESDialogSmall .RESDialogContents, .RESDialogSmall .livePreview, .RESDialogSmall h3, .leavemoderator {
    background-color: #000!important
}
.RESDialogSmall h3 {
    border-bottom: 1px solid #FF016D!important;
    color: #FF016D!important;
    text-transform: uppercase
}
.NERPageMarker {
    background: 0 0!important;
    color: #00FE00
}
.content.submit .info-notice {
    background-color: #001900;
    color: #00FE00;
    border: 1px solid #00FE00;
    padding: 20px;
    margin-bottom: 12px;
    font-size: larger
}
.linkflairlabel {
    background: #000;
    border: none;
    color: #FF016D
}
.login-form-side input[type=password], .login-form-side input[type=text] {
    border-radius: 0;
    padding: 5px;
    color: #00FE00
}
.login-form-side button {
    color: #00FE00;
    padding: 5px 20px;
    border: 1px solid #00FE00
}
a.title:before {
    background-image: url(%media-thumbs%)
}
.nextprev {
    margin-top: 25px
}
.nextprev a {
    background: #000;
    border: 1px solid #00FE00;
    border-radius: 3px;
    color: #00FE00;
    padding: 5px
}
.footer {
    border: 3px solid #222;
    background: #000
}
.tabmenu li:last-of-type a {
    color: #00FE00
}
.infobar.welcome {
    display: none!important
}
span[class="hover pagename redditname"] a {
    opacity: 0!important
}
.NERPageMarker {
    background-color: transparent!important;
    border: none!important
}
.flair-users {
    color: #00ECFD;
    background: 0 0;
    border-width: 0
}
.flair-special {
    color: #ff016d;
    background: 0 0;
    border-width: 0
}
.flair-keito {
    color: #00FE00;
    background: 0 0;
    border-width: 0
}
.flair-automod {
    color: #FEA900;
    background: 0 0;
    border-color: red
}
.wiki-page .wiki-page-content .md.wiki h1, .wiki-page .wiki-page-content .md.wiki h2, .wiki-page .wiki-page-content .md.wiki h3, .wiki-page .wiki-page-content .md.wiki h4, .wiki-page .wiki-page-content .md.wiki h5, .wiki-page .wiki-page-content .md.wiki h6 {
    font-weight: 700;
    color: #00ECFD;
    margin-bottom: .25em;
    margin-top: .5em
}
div.RES-keyNav-activeElement {
    background: #000!important;
    outline-color: #000!important
}
.res .RES-keyNav-activeElement, .res .commentarea .RES-keyNav-activeElement .md, .res .commentarea .RES-keyNav-activeElement.entry .noncollapsed, .usertext-edit .RESDialogSmall .md.RESDialogContents {
    background-color: #000!important
}
.comment.spam>.child, .message.spam>.child {
    background-color: #000
}